<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hzuapps.androidlabs.soft1714080902421">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/种树学习法"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/button_circle" />

        <activity android:name=".StartStudyActivity" />
        <activity android:name=".ForeDownActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".TotalTimeActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="sensor" />
        <activity android:name=".TreePlantActivity" />
        <activity android:name=".MyTreeActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".Soft1714080902421MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>