../../../../../../../../../../.DS_Store
	../../../../../../../../../.DS_Store
	../../../../../../../../.DS_Store
	../../../../../../../.DS_Store
	../../../../../../../.gitignore
	../../../../../../../app.iml
	../../../../../../../build.gradle
	../../../../../../../proguard-rules.pro
	../../../../../../.DS_Store
	../../../../../../androidTest/
	../../../../../res/
	../../../../../../test/
