<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tuku">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="edu.hzuapps.androidlabs.soft1714080902227.soft1714080902227Activity4"></activity>
        <activity android:name=".BankActivity" />
        <activity android:name=".Main2Activity"></activity>
        <activity android:name="edu.hzuapps.androidlabs.soft1714080902227.BaseActivity" />
        <activity android:name="edu.hzuapps.androidlabs.soft1714080902227.soft1714080902227Activity2" />
        <activity android:name="edu.hzuapps.androidlabs.soft1714080902227.soft1714080902227Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>