<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hzuapps.androidlabs.soft1714080902401">
    <!-- 网络请求声明 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 相机请求声明 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- SD卡请求声明 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_appico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_appico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Soft1714080902401_meActivity"/>
        <activity android:name=".Soft1714080902401_FileStoreActivity" />
        <activity android:name=".Soft1714080902401_01Activity" />
        <activity android:name=".Soft1714080902401Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        android:required="false" /> <!-- 注册照相机功能相关内容 -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="edu.hzuapps.androidlabs.soft1714080902401.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>