<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hzuapps.androidlabs.soft1709081602603">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="1709081602603-步数统计"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Soft1709081602603Activity_01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Soft1709081602603Activity_02"></activity>
    </application>

</manifest>
