<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/androidicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="edu.hzuapps.androidlabs.soft1714080902124.AlertPassword" />
        <activity
            android:name="edu.hzuapps.androidlabs.soft1714080902124.Lock"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.hzuapps.androidlabs.soft1714080902124.SearchActivity"
            android:exported="true" />
        <activity
            android:name="edu.hzuapps.androidlabs.soft1714080902124.MyListView"
            android:exported="true" />
        <activity
            android:name="edu.hzuapps.androidlabs.soft1714080902124.EditTextActivity"
            android:exported="true" />
        <activity
            android:name="edu.hzuapps.androidlabs.soft1714080902124.Soft1714080902124Activity"
            android:exported="true" />
    </application>

</manifest>