<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.hzuapps.androidlabs.soft1714080902307">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <!--主页-->
        <activity
            android:name=".Soft1714080902307Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--模块区-->
        <activity
            android:name=".Module.AllModuleActivity"
            android:label="@string/module_all"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".Soft1714080902307Activity"
            />
        <activity
            android:name=".Module.ToolModuleActivity"
            android:label="@string/module_tool"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".Soft1714080902307Activity"/>
        <activity
            android:name=".Module.WallpaperModuleActivity"
            android:label="@string/module_wallpaper"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Soft1714080902307Activity"/>
        <activity
            android:name=".Module.MediaModuleActivity"
            android:label="@string/module_media"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Soft1714080902307Activity"/>
        <activity
            android:name=".Module.EmojiModuleActivity"
            android:label="@string/module_emoji"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Soft1714080902307Activity"/>

    <!--功能区-->
        <activity
            android:name=".Function.SecondFunctionActivity"
            android:label="@string/function_second"
            android:theme="@style/AppTheme.NoActionBar"
        />
        <activity
            android:name=".Function.Notepad.Detail"
            android:label="@string/function_notepad"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".Function.Notepad.NotepadActivity"
            android:label="@string/function_notepad"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Module.AllModuleActivity"/>
            />
            <!--android:parentActivityName=".Soft1714080902307Activity"/>-->

    </application>

</manifest>