<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="soft1714080902440.androidlabs.hzuapps.edu.soft1714080902440">


<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <activity android:name="edu.hzuapps.androidlabs.soft1714080902440.Soft1714080902440Activity" />

    <meta-data
        android:name="com.google.android.actions"
        android:resource="@xml/actions" />

    <activity android:name="edu.hzuapps.androidlabs.soft1714080902440.Main2Activity" />
    <activity
        android:name="edu.hzuapps.androidlabs.soft1714080902440.MainActivity"
        android:label="@string/title_activity_main"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name="edu.hzuapps.androidlabs.soft1714080902440.Main3Activity" />
    <activity android:name="edu.hzuapps.androidlabs.soft1714080902440.Soft1714080902440Activity03" />
    <activity android:name="edu.hzuapps.androidlabs.soft1714080902440.Main5Activity" >


    </activity>
    <meta-data
        android:name="com.amap.api.v2.apikey"
        android:value="0aa1afe6601f31c160ff2aca3ac51973">
        </meta-data>
    </application>
    <!-- 向SD卡中创建或者删除的权限。 -->
    <uses-permission android:name="andorid.permission.MONUN_UNMOUNT_FILESYSTEMS" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
</manifest>

