<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hzuapps.androidlabs.soft1714080902331">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Soft1714080902331Activity3"
            android:label="@string/title_activity_soft17140809023313"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Soft1714080902331Activity2"
            android:label="@string/title_activity_soft17140809023312"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Soft1714080902331Activity"
            android:label="@string/title_activity_soft1714080902331"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>