<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activity2019">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"   
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="edu.YYLLHH.androidlabs.Com1714080901239.Com1714080901239"
            android:label="@string/title_activity_com1714080901239"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.example.MainActivity" />
        <activity android:name="edu.YYLLHH.androidlabs.com1714080901239.Com1714080901239Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application> 

</manifest>