<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="soft1714080902228.androidlabs.hzuapps.edu.soft1714080902228">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Soft1714080902228Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Soft1714080902228Main_Activity"
            android:label="@string/title_activity_soft1714080902228_main_"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>