<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hzuapps.androidlabs.Soft1714080902109">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="edu.hzuapps.androidlabs.soft1714080902109.LocationActivity"></activity>
        <activity android:name="edu.hzuapps.androidlabs.soft1714080902109.LayoutActivity" />
        <activity android:name="edu.hzuapps.androidlabs.soft1714080902109.SearchActivity" />
        <activity android:name="edu.hzuapps.androidlabs.soft1714080902109.InquiryActivity" />
        <activity
            android:name="edu.hzuapps.androidlabs.soft1714080902109.AddActivity"
            android:exported="true" />
        <activity android:name="edu.hzuapps.androidlabs.soft1714080902109.Soft1714080902109Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>