<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hzuapps.androidlabs.com1712070504104">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/HappyBirthday">
        <activity
            android:name="edu.hzuapps.androidlabs.com1712070504104.Com1712070504104Activity2"
            android:label="@string/birthday_wishes"
            android:theme="@style/TextStyle2"></activity>
        <activity
            android:name="edu.hzuapps.androidlabs.com1712070504104.Com1712070504104Activity"
            android:label="@string/birthday_coming"
            android:theme="@style/TextStyle" />

    </application>

</manifest>