<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hzuapps.androidlabs.com1712070504104">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="edu.hzuapps.androidlabs.com1712070504104.Com1712070504104Activity2"
            android:label="@string/title_activity_com17120705041042"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="edu.hzuapps.androidlabs.com1712070504104.Com1712070504104Activity"
            android:label="@string/title_activity_com1712070504104"
            android:theme="@style/AppTheme.NoActionBar" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

    </application>

</manifest>